NODE_ENV=
PORT=8080
CORS_ORIGIN=
ESHOP_DB_URI=mongodb+srv://username:password@your-cluster.mongodb.net/?retryWrites=true&w=majority
ESHOP_NS=eshop

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRY=
JWT_REFRESH_EXPIRY=

MAILER_FNAME=ESHOP
MAILER_EMAIL=
MAILER_ACC_FNAME=
MAILER_ACC_UNAME=
MAILER_ACC_PWD=
MAILER_SMTP_HOST=
MAILER_SMTP_PORT=
MAILER_SECURITY=

OTP_TTL=

STRIPE_KEY=YOUR_STRIPE_KEY