.is-show {
  visibility: visible !important;
  pointer-events: all !important;
}

.slider {
  position: relative;
  padding: 10px 0;
}

.slider-main-container {
  position: relative;

  .slider-button-prev,
  .slider-button-next {
    --bs-btn-bg: #ffffff8f;
    --bs-btn-color: #000000;
    position: absolute;
    top: 50%;
    width: 30px;
    height: 50px;
    padding: 0.2rem;
    transform: translateY(-50%);
    outline: 0;
    border-color: #dee2e6 !important;
    border-radius: 0 !important;
    z-index: 10;
    visibility: hidden;
    pointer-events: none;
    align-self: center;

    &:hover,
    &:focus,
    &:active {
      --bs-btn-active-color: #000;
      --bs-btn-active-bg: #fff !important;
      --bs-btn-active-border-color: transparent;
      --bs-btn-hover-color: #000;
      --bs-btn-hover-bg: #fff;
      --bs-btn-hover-border-color: transparent;
      --bs-btn-focus-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    }

    &:active {
      -webkit-transform: translateY(-45%);
      transform: translateY(-45%);
    }
  }

  .slider-button-next{
    right: 0;
  }

  .slider-button-prev{
    left: 0;
  }
}

.slider-list {
  list-style: none;
  padding: 0.25rem !important;
  margin: 0 !important;
  z-index: 1;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row !important;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  .list-item {
    display: flex; 
    flex-wrap: nowrap;
    justify-content: flex-start;
    flex: 0 0 auto;
    gap: 0.5rem;
    cursor: pointer;
    max-width: 100%;
    margin-right: 1rem;
  
    &.row {
      flex-direction: row !important;
    }
  
    &.column {
      flex-direction: column !important;
    }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      transition: transform .1s linear;
    }
  }
  
}

.slider-trackers {
  list-style: none;
  padding: 0 20px !important;
  margin: 8px 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .list-item {
    cursor: pointer;
    display: inline-block;
    padding: 0 5px;

    button {
      padding: 0;
      background: #c7c7c7;
      border-radius: 30px;
      border: none;
      display: inline-block;
      height: 8px;
      line-height: 0;
      overflow: hidden;
      text-indent: -999em;
      width: 8px;
      position: relative;
      z-index: 10;
      transition: all .5s linear 0s;
    }

    &.is-active {
      transform: scale(1.3);

      button {
        background-color:black;
      }
    }
  }
}


.slider-img-container {
  overflow: hidden;
  flex: 1 0; 
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.slider-descr {
  margin-bottom: 5px;
}

.slider-type {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.slider-count {
  font-size: 0.8rem;
  margin-bottom: 0;
  color: #676b6e;
}


